@page "/other-foods"
@inherits BasePage
@rendermode InteractiveServer

<PageTitle>Other Foods</PageTitle>

<div style="margin-top:1em">
    <FluentBreadcrumb>
        <FluentBreadcrumbItem Href="/">
            Home
            <FluentIcon Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size20.Home())" Color="@Color.Neutral" Slot="start" />
        </FluentBreadcrumbItem>
        <FluentBreadcrumbItem>
            Other Foods
            <FluentIcon Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size20.Food())" Color="@Color.Neutral" Slot="start" />
        </FluentBreadcrumbItem>
    </FluentBreadcrumb>
</div>
<div style="margin-top:1.5em">
    <h1>Other Foods</h1>
</div>
<div style="margin-bottom:3em">
    <p>Nuggets, snacks and other delicious food items.</p>
</div>

@if (_otherFoods == null)
{
    <ProgressLoader ProgressText="Loading other foods..." Columns="3"></ProgressLoader>
}
else
{
    <div style="border-top:1px solid lightgrey;margin-bottom:3em">
        <FluentToolbar Style="margin-top:0;padding-top:0">
            <FluentButton Appearance="Appearance.Stealth" IconStart="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size12.Add())"
                          @onclick="OnAddNewOtherFoodClick" Title="Add other food">Add other food</FluentButton>
        </FluentToolbar>
    </div>

    <FluentDataGrid Id="otherFoodsGrid" Items=@_otherFoods TGridItem=OtherFoodEntity>
        <TemplateColumn Title="Name" Sortable="true">
            <span @onclick=@(() => OnEditOtherFoodClick(context)) style="font-weight:bold;text-decoration:underline;cursor:pointer">@context.Name</span>
        </TemplateColumn>
        <PropertyColumn Title="Description" Property="@(c => c!.Description)" Sortable="true" Align=Align.Start />
        <PropertyColumn Title="Created" Property="@(c => c!.Created)" Format="MMM dd, yyyy" Sortable="true" Align=Align.Start />
        <PropertyColumn Title="Modified" Property="@(c => c!.Modified)" Format="MMM dd, yyyy" Sortable="true" Align=Align.Start />
        <TemplateColumn Title="Action">
            <FluentIcon Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size20.Delete())" Title="Delete food"
                        Color="Color.Error" Style="cursor:pointer"
                        @onclick="@(() => OnDeleteOtherFoodClick(context))" />
        </TemplateColumn>
    </FluentDataGrid>
}
